$font-nunito: 'Nunito Sans', sans-serif;
$font-cormorant: 'Cormorant Garamond', serif;

$header-height: 4.5rem;
$header-logo-width: 9.5rem;
$room-details-box-width: 38%;
$room-details-size-limiter: 480px;
$room-details-box-gap: $room-details-box-width * 0.74;