@import 'helpers';
@import 'fonts';

$header-height: 4.5rem;
$header-logo-width: 9.5rem;
$room-details-box-width: 38%;
$room-details-size-limiter: 480px;
$room-details-box-gap: $room-details-box-width * 0.74;

@mixin abs-box {
  top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
@mixin logo($top-position) {
  left: 0;
  right: 0;
  top: $top-position;
  padding-top: 0.5rem;
  height: $header-height;
  position: absolute;
  text-align: center;
  svg {
    width: $header-logo-width;
    display: inline-block;
  }
  .title {
    left: 50%;
    bottom: 0.125rem;
    transform: translateX(-50%);
    position: absolute;
    width: $header-logo-width;
    .top {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1;
      font-family: $font-nunito;
    }
    .bottom {
      font-family: $font-cormorant;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.1em;
    }
  }
}
@mixin bg-whitewood {
  background-image: url('../images/bg-header.jpg');
  background-position: 0 0;
  background-repeat: repeat-y;
  background-size: 100% auto;
}

body {
  position: relative;
}

a {
  color: $accent-green;
  &:hover {
    color: lighten($accent-green, 20);
  }
}

:focus {
  box-shadow: none;
}

a, button {
  &:focus {
    box-shadow: rgba($accent-green, 0.25) 0 0 2px 3px;
  }
}

p {
  line-height: 1.47;
}

h1 {
  font-size: 3rem;
  @media screen and (min-width: 768px) {
    font-size: 5rem;
  }
}

h2 {
  font-size: 2rem;
  @media screen and (min-width: 768px) {
    font-size: 3.75rem;
  }
}

h1, h2 {
  font-weight: 400;
  line-height: 1;
  font-variant: small-caps;
  font-family: $font-cormorant;
}

section {
  p, a {
    font-weight: 200;
  }
}

.btn, [type=button], [type=reset], [type=submit], button {
  font-family: $font-nunito;
}
.btn-info, .btn-primary, .btn-success {
  background-color: $accent-green !important;
  border-color: transparent !important;
}

.toast.toast--success {
  background-color: $accent-green;
  border-color: $accent-green;
}

body .toast {
  z-index: 998;
}

.logo-fill {
  fill: $foreground;
}

header.header {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: $header-height;
  margin-bottom: 0;
  @include bg-whitewood;
  nav {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-family: $font-cormorant;
    .nav-item {
      padding: 0 0.75rem;
      a {
        padding-bottom: 0;
      }
    }
    &.active {
      padding-top: 2rem;
    }
    @media screen and (max-width: 768px) {
      &::-webkit-scrollbar {
        width: 0;
      }
      .nav-item a {
        justify-content: center;
      }
    }
  }
  .z-lifter {
    z-index: 2;
  }
  .logo-place {
    min-width: $header-logo-width + $header-logo-width * 0.1;
  }
  .logo {
    z-index: 1;
    @include logo(0);    
  }
}

footer.footer {
  margin-top: 0;
  position: relative;
  padding-bottom: 2rem;
  background-image: url('../images/footer-fleur.svg');
  background-position: 30% 110%;
  background-repeat: no-repeat;
  background-size: auto 75%;
  ul {
    padding-inline-start: 0;
  }
  .logo {
    color: $accent-yellow;
    @include logo(2rem);
  }
  .logo-fill {
    fill: $secondary;
  }
  .content {
    max-width: 1200px;
  }
  .menu {
    margin-bottom: 2rem;
    .list-item {
      a {
        display: block;
        font-weight: 200;
        padding: 0.75rem 0;
      }      
      @media screen and (min-width: 768px) {
        text-align: left;
      }
    }
    &.tight {
      font-size: 0.75rem;
      a {
        padding: 0.25rem 0;
        font-weight: 400;
      }
    }
  }
  .copyright {    
    font-size: 0.75rem;
    div {
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        margin-left: 0;
        margin-right: auto;
      }
    }    
  }
  .pay-icons {
    @media screen and (max-width: 768px) {
      justify-content: center;
      margin-bottom: 1rem;
    }
  }
}

.modal-footer {
  border-top: 1px solid lightgray;
}

.line-title {
  padding-left: 58px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 1px solid $background;
    height: 1px;
    width: 50px;
    left: 0;
    top: 50%;
    
  }
}

.slider-box {
  button[data-action="stop"],
  button[data-action="start"] {
    display: none;
  }
  a {
    padding: 0;
  }
  .slider-controls {
    button {
      padding: 1rem;
      display: flex;
      align-items: center;
      border-color: $foreground;
      label {
        cursor: pointer;
        font-size: small;
        line-height: 1.25;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      &.left {
        flex-direction: row;
        label {
          text-align: left;
          margin-left: 1rem;
        }
      }
      &.right {
        flex-direction: row-reverse;
        label {
          text-align: right;
          margin-right: 1rem;
        }
      }
    }
    svg {
      width: 2rem;
      height: 2rem;
      border: $foreground 1px solid;
      @media screen and (max-width: 768px) {
        width: 3rem;
        height: 3rem;
      }
      path {
        fill: $foreground;
      }
    }
  }
  .tns-nav {
    display: flex;
    margin-top: 1rem;
    min-height: 1rem;
    align-items: center;
    justify-content: center;
    button {
      padding: 0;
      width: 0.5rem;
      height: 0.5rem;
      margin: 0 0.5rem;
      border-radius: 50%;
      min-width: initial;
      transition: all ease 0.15;
      background-color: rgba($secondary, .5);
      &.tns-nav-active {
        width: 0.875rem;
        height: 0.875rem;
        background-color: $accent-green;
      }
    }
  }
}

.slbCaption {
  @media screen and (max-width: 768px) {
    font-size: 0.75rem;
  }
}
.slbCloseBtn:hover,
.slbArrow:hover {
  color: $accent-yellow;
  opacity: 1;
}

#header-btn {
  margin-left: 0;
}

#rooms {
  h3 {
    font-size: 1rem;
    line-height: 1.47;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    font-family: $font-cormorant;
    &::first-letter {
      font-size: 175%;
      font-weight: lighter;
      line-height: 1;
    }    
    @media screen and (min-width: 480px) {
      font-size: 1.25rem;
    }
    @media screen and (min-width: 1280px) {
      font-weight: 200;
      font-size: 1.75rem;
    }
  }
  .cover {
    z-index: 1;
    a {
      padding: 0;
    }
  }
  .details {
    z-index: 2;
    position: relative;
    padding: 2rem 2.25rem;
    background-color: $background;    
  }
  .specs {
    text-align: center;
  }
  .includes {
    margin-top: 2rem;
  }
  .price {
    font-family: $font-cormorant;
    font-size: 1.25rem;
    strong {
      font-size: 200%;
      padding-right: 0.5rem;
      display: inline-block;
    }
  }
  .book-now-btn {
    left: 50%;
    bottom: 0;
    z-index: 3;
    display: flex;
    position: absolute;
    color: $background;
    align-items: center;
    font-size: 1.125rem;
    padding: 0.75rem 1.5rem;
    background-color: $accent-green;
    transform: translate(-50%,50%);
    overflow: hidden;
    &:hover::after {
      content: '';
      position: absolute;
      top: -50%;
      bottom: -50%;
      background: linear-gradient(90deg,rgba(255,255,255,0.1),rgba(255,255,255,0.4) 100%);
      width: 45px;
      transform: skewX(-22deg);
      left: -65%;
      animation-name: blick;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
    span:nth-of-type(1) {
      margin-right: 0.75rem;
    }
    .chevron {
      width: 1rem;
      &::before {
        left: 0;
        top: -0.1em;
        content: '';
        display: block;
        transform: rotate(135deg);
        border-style: solid;
        border-width: 0.1em 0.1em 0 0;
        height: 0.5em;
        position: relative;
        width: 0.5em;
      }
    }
    &.active {
      .chevron::before {
        transform: rotate(315deg);
        top: 0.15rem;
      } 
    }
  }
  .item {
    margin: 4rem auto 6rem auto;
    position: relative;
    @media screen and (min-width: 1024px) {
      padding-right: $room-details-box-gap;
      &:nth-child(odd) {
        padding-right: 0;
        padding-left: $room-details-box-gap;
        .details {
          left: 0;
          right: auto;
        } 
      }
      .details {
        width: $room-details-box-width;
        max-width: $room-details-size-limiter;
        position: absolute;
        top: 2rem;
        right: 0;
        padding-bottom: 4rem;
      }      
      .specs {
        text-align: left;
      }
      .book-now-btn {
        left: 0;
        transform: translate(2.25rem, 50%);
      }
    }
  }
}

#gallery {
  @include bg-whitewood;
  .slider-box img {
    width: 100%;
    height: 33vh;
  }
}

#contacts {
  .address-box {
    margin: 0 2rem;    
    @media screen and (min-width: 768px) {
      margin-left: 20%;
      margin-right: 10%;
    }
    p {
      margin: 1rem 0;
    }
  }
  .phone {
    font-size: 1.375rem;
    font-weight: 600;
  }
  .icon {
    width: 1.5rem;
    flex-shrink: 0;
    margin-top: 1rem;
    & + div {
      margin-left: 1.5rem;
    }
    svg {
      margin-left: auto;
      margin-right: auto;
      max-height: 1.5rem;
      path {
        fill: $background;
      }
    }
  }
}

#map {
  height: 100%;
}

#cookie-disclaimer {
  p {
    line-height: 1.25;
    font-size: 0.875rem;
    font-weight: 200;
  }
}

@keyframes blick {
  60% {
    left: 100%;
  }

  to {
    left: 130%;
  }
}