body {
  background-color: #f5f5f5;
  color: #2d353b;
}

.colors-dark {
  color: #929076;
  background-color: #2d353b;
}
.colors-dark a {
  color: #f5f5f5;
}
.colors-dark a:hover {
  color: #f4ce6d;
}

.colors-green {
  color: #f5f5f5;
  background-color: #316A63;
}
.colors-green a {
  color: #f4ce6d;
}
.colors-green a:hover {
  color: #f5f5f5;
}

.colors-yellow {
  background-color: #f4ce6d;
}

.colors-biege {
  color: #f5f5f5;
  background-color: #929076;
}

body {
  position: relative;
}

a {
  color: #316A63;
}
a:hover {
  color: #52afa4;
}

:focus {
  box-shadow: none;
}

a:focus, button:focus {
  box-shadow: rgba(49, 106, 99, 0.25) 0 0 2px 3px;
}

p {
  line-height: 1.47;
}

h1 {
  font-size: 3rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.75rem;
  }
}

h1, h2 {
  font-weight: 400;
  line-height: 1;
  font-variant: small-caps;
  font-family: "Cormorant Garamond", serif;
}

section p, section a {
  font-weight: 200;
}

.btn, [type=button], [type=reset], [type=submit], button {
  font-family: "Nunito Sans", sans-serif;
}

.btn-info, .btn-primary, .btn-success {
  background-color: #316A63 !important;
  border-color: transparent !important;
}

.toast.toast--success {
  background-color: #316A63;
  border-color: #316A63;
}

body .toast {
  z-index: 998;
}

.logo-fill {
  fill: #2d353b;
}

header.header {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 4.5rem;
  margin-bottom: 0;
  background-image: url("../images/bg-header.jpg");
  background-position: 0 0;
  background-repeat: repeat-y;
  background-size: 100% auto;
}
header.header nav {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
}
header.header nav .nav-item {
  padding: 0 0.75rem;
}
header.header nav .nav-item a {
  padding-bottom: 0;
}
header.header nav.active {
  padding-top: 2rem;
}
@media screen and (max-width: 768px) {
  header.header nav::-webkit-scrollbar {
    width: 0;
  }
  header.header nav .nav-item a {
    justify-content: center;
  }
}
header.header .z-lifter {
  z-index: 2;
}
header.header .logo-place {
  min-width: 10.45rem;
}
header.header .logo {
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 0.5rem;
  height: 4.5rem;
  position: absolute;
  text-align: center;
}
header.header .logo svg {
  width: 9.5rem;
  display: inline-block;
}
header.header .logo .title {
  left: 50%;
  bottom: 0.125rem;
  transform: translateX(-50%);
  position: absolute;
  width: 9.5rem;
}
header.header .logo .title .top {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  font-family: "Nunito Sans", sans-serif;
}
header.header .logo .title .bottom {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.1em;
}

footer.footer {
  margin-top: 0;
  position: relative;
  padding-bottom: 2rem;
  background-image: url("../images/footer-fleur.svg");
  background-position: 30% 110%;
  background-repeat: no-repeat;
  background-size: auto 75%;
}
footer.footer ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
footer.footer .logo {
  color: #f4ce6d;
  left: 0;
  right: 0;
  top: 2rem;
  padding-top: 0.5rem;
  height: 4.5rem;
  position: absolute;
  text-align: center;
}
footer.footer .logo svg {
  width: 9.5rem;
  display: inline-block;
}
footer.footer .logo .title {
  left: 50%;
  bottom: 0.125rem;
  transform: translateX(-50%);
  position: absolute;
  width: 9.5rem;
}
footer.footer .logo .title .top {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  font-family: "Nunito Sans", sans-serif;
}
footer.footer .logo .title .bottom {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.1em;
}
footer.footer .logo-fill {
  fill: #929076;
}
footer.footer .content {
  max-width: 1200px;
}
footer.footer .menu {
  margin-bottom: 2rem;
}
footer.footer .menu .list-item a {
  display: block;
  font-weight: 200;
  padding: 0.75rem 0;
}
@media screen and (min-width: 768px) {
  footer.footer .menu .list-item {
    text-align: left;
  }
}
footer.footer .menu.tight {
  font-size: 0.75rem;
}
footer.footer .menu.tight a {
  padding: 0.25rem 0;
  font-weight: 400;
}
footer.footer .copyright {
  font-size: 0.75rem;
}
footer.footer .copyright div {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  footer.footer .copyright div {
    margin-left: 0;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  footer.footer .pay-icons {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.modal-footer {
  border-top: 1px solid lightgray;
}

.line-title {
  padding-left: 58px;
  position: relative;
}
.line-title::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 1px solid #f5f5f5;
  height: 1px;
  width: 50px;
  left: 0;
  top: 50%;
}

.slider-box button[data-action=stop],
.slider-box button[data-action=start] {
  display: none;
}
.slider-box a {
  padding: 0;
}
.slider-box .slider-controls button {
  padding: 1rem;
  display: flex;
  align-items: center;
  border-color: #2d353b;
}
.slider-box .slider-controls button label {
  cursor: pointer;
  font-size: small;
  line-height: 1.25;
}
@media screen and (max-width: 768px) {
  .slider-box .slider-controls button label {
    display: none;
  }
}
.slider-box .slider-controls button.left {
  flex-direction: row;
}
.slider-box .slider-controls button.left label {
  text-align: left;
  margin-left: 1rem;
}
.slider-box .slider-controls button.right {
  flex-direction: row-reverse;
}
.slider-box .slider-controls button.right label {
  text-align: right;
  margin-right: 1rem;
}
.slider-box .slider-controls svg {
  width: 2rem;
  height: 2rem;
  border: #2d353b 1px solid;
}
@media screen and (max-width: 768px) {
  .slider-box .slider-controls svg {
    width: 3rem;
    height: 3rem;
  }
}
.slider-box .slider-controls svg path {
  fill: #2d353b;
}
.slider-box .tns-nav {
  display: flex;
  margin-top: 1rem;
  min-height: 1rem;
  align-items: center;
  justify-content: center;
}
.slider-box .tns-nav button {
  padding: 0;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  min-width: initial;
  transition: all ease 0.15;
  background-color: rgba(146, 144, 118, 0.5);
}
.slider-box .tns-nav button.tns-nav-active {
  width: 0.875rem;
  height: 0.875rem;
  background-color: #316A63;
}

@media screen and (max-width: 768px) {
  .slbCaption {
    font-size: 0.75rem;
  }
}

.slbCloseBtn:hover,
.slbArrow:hover {
  color: #f4ce6d;
  opacity: 1;
}

#header-btn {
  margin-left: 0;
}

#rooms h3 {
  font-size: 1rem;
  line-height: 1.47;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
}
#rooms h3::first-letter {
  font-size: 175%;
  font-weight: lighter;
  line-height: 1;
}
@media screen and (min-width: 480px) {
  #rooms h3 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  #rooms h3 {
    font-weight: 200;
    font-size: 1.75rem;
  }
}
#rooms .cover {
  z-index: 1;
}
#rooms .cover a {
  padding: 0;
}
#rooms .details {
  z-index: 2;
  position: relative;
  padding: 2rem 2.25rem;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  background-color: #f5f5f5;
}
#rooms .specs {
  text-align: center;
}
#rooms .includes {
  margin-top: 2rem;
}
#rooms .price {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.25rem;
}
#rooms .price strong {
  font-size: 200%;
  padding-right: 0.5rem;
  display: inline-block;
}
#rooms .book-now-btn {
  left: 50%;
  bottom: 0;
  z-index: 3;
  border: none;
  display: flex;
  font-weight: 300;
  border-radius: 0;
  position: absolute;
  margin-bottom: 0;
  color: #f5f5f5;
  align-items: center;
  font-size: 1.125rem;
  text-transform: initial;
  padding: 0.75rem 1.5rem;
  background-color: #316A63;
  transform: translate(-50%, 50%);
  overflow: hidden;
}
#rooms .book-now-btn:hover::after {
  content: "";
  position: absolute;
  top: -50%;
  bottom: -50%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4) 100%);
  width: 45px;
  transform: skewX(-22deg);
  left: -65%;
  -webkit-animation-name: blick;
          animation-name: blick;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#rooms .book-now-btn span:nth-of-type(1) {
  margin-right: 0.75rem;
}
#rooms .book-now-btn .chevron {
  width: 1rem;
}
#rooms .book-now-btn .chevron::before {
  left: 0;
  top: -0.1em;
  content: "";
  display: block;
  transform: rotate(135deg);
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  height: 0.5em;
  transition: all 0.25s ease;
  position: relative;
  width: 0.5em;
}
#rooms .book-now-btn.active .chevron::before {
  transform: rotate(315deg);
  top: 0.15rem;
}
#rooms .more {
  height: 0;
  overflow: hidden;
}
#rooms .item {
  position: relative;
  margin: 4rem auto 6rem auto;
}
#rooms .item.active {
  margin-bottom: 0;
}
#rooms .item.active + .more {
  height: auto;
  overflow: visible;
  padding: 4rem 2.25rem;
}
@media screen and (min-width: 1024px) {
  #rooms .item {
    padding-right: 28.12%;
  }
  #rooms .item.left {
    padding-right: 0;
    padding-left: 28.12%;
  }
  #rooms .item.left .details {
    left: 0;
    right: auto;
  }
  #rooms .item .details {
    width: 38%;
    max-width: 480px;
    position: absolute;
    top: 2rem;
    right: 0;
    padding-bottom: 4rem;
  }
  #rooms .item.active .details {
    bottom: 0;
    top: auto;
  }
  #rooms .item .specs {
    text-align: left;
  }
  #rooms .item .book-now-btn {
    left: 0;
    transform: translate(2.25rem, 50%);
  }
}

#gallery {
  background-image: url("../images/bg-header.jpg");
  background-position: 0 0;
  background-repeat: repeat-y;
  background-size: 100% auto;
}
#gallery .slider-box img {
  width: 100%;
  height: 33vh;
}

#contacts .address-box {
  margin: 0 2rem;
}
@media screen and (min-width: 768px) {
  #contacts .address-box {
    margin-left: 20%;
    margin-right: 10%;
  }
}
#contacts .address-box p {
  margin: 1rem 0;
}
#contacts .phone {
  font-size: 1.375rem;
  font-weight: 600;
}
#contacts .icon {
  width: 1.5rem;
  flex-shrink: 0;
  margin-top: 1rem;
}
#contacts .icon + div {
  margin-left: 1.5rem;
}
#contacts .icon svg {
  margin-left: auto;
  margin-right: auto;
  max-height: 1.5rem;
}
#contacts .icon svg path {
  fill: #f5f5f5;
}

#map {
  height: 100%;
}

#cookie-disclaimer p {
  line-height: 1.25;
  font-size: 0.875rem;
  font-weight: 200;
}

@-webkit-keyframes blick {
  60% {
    left: 100%;
  }
  to {
    left: 130%;
  }
}

@keyframes blick {
  60% {
    left: 100%;
  }
  to {
    left: 130%;
  }
}
@-webkit-keyframes bounceInDown {
  0%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: translate3d(0, -100px, 0) scaleY(1.1);
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes bounceInDown {
  0%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: translate3d(0, -100px, 0) scaleY(1.1);
  }
  to {
    transform: translateZ(0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}/*# sourceMappingURL=styles.css.map */