@import 'helpers';
@import 'fonts';

$header-height: 4.5rem;
$header-logo-width: 9.5rem;

@mixin abs-box {
  top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

@mixin logo($top-position) {
  left: 0;
  right: 0;
  top: $top-position;
  padding-top: 0.5rem;
  height: $header-height;
  position: absolute;
  text-align: center;
  svg {
    width: $header-logo-width;
    display: inline-block;
  }
  .title {
    left: 50%;
    bottom: 0.125rem;
    transform: translateX(-50%);
    position: absolute;
    width: $header-logo-width;
    .top {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1;
      font-family: $font-nunito;
    }
    .bottom {
      font-family: $font-cormorant;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.1em;
    }
  }
}

a {
  color: $accent-green;

  &:hover {
    color: lighten($accent-green, 20);
  }
}

:focus {
  box-shadow: rgba($accent-green, 0.25) 0 0 2px 3px;
}

body {
  position: relative;
  font-family: $font-nunito;
  background-color: $background;
}

h1 {
  font-family: $font-cormorant;
}

h1, h2 {
  font-variant: small-caps;
  font-weight: 400;
  font-family: $font-cormorant;
}

.logo-fill {
  fill: $foreground;
}

header.header {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: $header-height;
  background-image: url('../images/bg-header.jpg');
  background-position: 0 0;
  background-repeat: repeat-y;
  margin-bottom: 0;
  nav {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-family: $font-cormorant;
    .nav-item {
      padding: 0 0.75rem;
      a {
        padding-bottom: 0;
      }
    }
    &.active {
      padding-top: 2rem;
    }
    @media screen and (max-width: 768px) {
      &::-webkit-scrollbar {
        width: 0;
      }
      .nav-item a {
        justify-content: center;
      }
    }
  }
  #header-btn {
    margin-left: 0;
  }
  .z-lifter {
    z-index: 2;
  }
  .logo-place {
    min-width: $header-logo-width + $header-logo-width * 0.1;
  }
  .logo {
    z-index: 1;
    @include logo(0);    
  }
}

footer.footer {
  margin-top: 0;
  position: relative;
  padding-bottom: 2rem;
  background-image: url('../images/footer-fleur.svg');
  background-position: 30% 110%;
  background-repeat: no-repeat;
  background-size: auto 75%;
  ul {
    padding-inline-start: 0;
  }
  .logo {
    color: $accent-yellow;
    @include logo(2rem);
  }
  .logo-fill {
    fill: $secondary;
  }
  .content {
    max-width: 1200px;
  }
  .menu {
    margin-bottom: 2rem;
    .list-item {
      a {
        display: block;
        font-weight: 200;
        padding: 0.75rem 0;
      }      
      @media screen and (min-width: 768px) {
        text-align: left;
      }
    }
    &.tight {
      font-size: 0.75rem;
      a {
        padding: 0.25rem 0;
        font-weight: 400;
      }
    }
  }
  .copyright {    
    font-size: 0.75rem;
    div {
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        margin-left: 0;
        margin-right: auto;
      }
    }    
  }
  .pay-icons {
    @media screen and (max-width: 768px) {
      justify-content: center;
      margin-bottom: 1rem;
    }
  }
}